* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(246, 246, 246);
  color: #222;
}

.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 5rem;
  color: hsla(0, 84%, 17%, 1);
  user-select: none;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 3.2rem;
  user-select: none;
  margin-top: 3rem;
  margin-bottom: 0;
}

.location {
  text-align: center;
  margin-bottom: 8rem;
}

.add-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.add-product-details-container {
  width: 45rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.items-list {
  width: 45rem;
  border-bottom: 1px solid hsla(0, 100%, 0%, .2);
}

.items-list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 600;
}

li span:first-child{
  text-align: left;
  width: 3rem;
}

li span:nth-child(2){
  flex: 1;
  padding-left: 2rem;
}

input, button {
  font-family: inherit;
  font-size: 2rem;
  padding: .5rem 1rem;
}

input[type="text"] .name-container{
  flex: 1;
}

.add-items section:last-child{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
}

button {
  width: 45rem;
}

button:hover {
  background-color: hsla(0, 84%, 17%, 1);
}

.modal-container{
  width: 50rem;
  height: 25rem;
  background-color: hsla(0, 84%, 17%, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-message {
  width: 30rem;
  height: 15rem;
  background-color: hsla(0, 84%, 17%, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  color: rgb(246, 246, 246);
}

.modal-message > button {
  width: 18rem;
}

.modal-message > button:hover {
  background-color: hsla(0, 84%, 17%, .1);
}

.bill-container {
  width: 40rem;
  margin: 0 auto;
  position: fixed;
  top: 10rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  box-shadow: 10px 5px 5px hsla(0, 100%, 0%, .3);
  background-color: #fff;
}

.bill-item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  margin: .5rem 0;
}

.separator {
  border-bottom: 2px dotted hsla(0, 100%, 0%, 1);
  flex: 1;
  position: relative;
  top: -1rem;
}

.bigger-separator {
  border-bottom: 2px dashed hsla(0, 100%, 0%, 1);
  flex: 1;
  margin: 2rem 0;
}

.bill-container > div:last-child{
  margin-top: 1rem;
  font-size: 3rem;
}

.editing-input {
  background-color: rgb(246, 246, 246);
  color: #222;
  font-family: inherit;
}